{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title><meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/icons/favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'img/icons/favicon.png'%}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/icons/favicon-72x72.png' }">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/icons/favicon-114x114.png' %}">
    <!--Loading bootstrap css-->
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700">
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,700,300">
    <link type="text/css" rel="stylesheet" href="{% static 'css/jquery-ui-1.10.4.custom.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/all.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style-responsive.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/zabuto_calendar.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/pace.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/jquery.news-ticker.css' %}">
</head>
<body style="background: url('images/bg/bg.png') center center fixed;">
    <div class="page-form">
        <div class="panel panel-blue">
            <div class="panel-body pan">
                <form action="." method="post" class="form-horizontal">
                {% csrf_token %}
                <div class="form-body pal">
                    <div class="col-md-12 text-center">
                        <h1 style="margin-top: -90px; font-size: 48px;">
                            Simonet</h1>
                        <br />
                    </div>
                    <div class="form-group">
                      
                        <div class="col-md-12 text-center">
                            <h1>
                                Iniciar Sesion</h1>
                            <br />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName" class="col-md-3 control-label">
                            Usuario:</label>
                        <div class="col-md-9">
                            <div class="input-icon right">
                                <i class="fa fa-user"></i>
                                <input id="inputName" name='login' type="text" placeholder="Usuario" class="form-control" /></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-md-3 control-label">
                            Contraseña:</label>
                        <div class="col-md-9">
                            <div class="input-icon right">
                                <i class="fa fa-lock"></i>
                                <input id="inputPassword" type="password" name="password" placeholder="Contraseña" class="form-control" /></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputRemember" class="col-md-3 control-label">
                            Contraseña:</label>
                        <div class="col-md-9">
                                <input id="remember" type="checkbox" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group mbn">
                        <div class="col-lg-12" align="right">
                            <div class="form-group mbn">
                                <div class="col-lg-3">
                                    &nbsp;
                                </div>
                                <div class="col-lg-9">
                                    
                                    <button type="submit" class="btn btn-default">
                                        Iniciar&nbsp;<i class="fa fa-forward"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
        
    </div>
</body>
</html>
