{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title> Simonet | {% block titulo %}{% endblock titulo %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/icons/favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'img/icons/favicon.png'%}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/icons/favicon-72x72.png' }">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/icons/favicon-114x114.png' %}">
    <!--Loading bootstrap css-->
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700">
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,700,300">
    <link type="text/css" rel="stylesheet" href="{% static 'css/jquery-ui-1.10.4.custom.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/all.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style-responsive.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/zabuto_calendar.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/pace.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/jquery.news-ticker.css' %}">
    {% block css %}{% endblock css %}
</head>
<body>
    <div>
       
        <a id="totop" href="#"><i class="fa fa-angle-up"></i></a>
        <!--END BACK TO TOP-->
        <!--BEGIN TOPBAR-->
        <div id="header-topbar-option-demo" class="page-header-topbar">

            <nav id="topbar" role="navigation" style="margin-bottom: 0;" data-step="3" class="navbar navbar-default navbar-static-top">

            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target=".sidebar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <a id="logo" href="index.html" class="navbar-brand"><span class="fa fa-rocket"></span><span class="logo-text">Simonet</span><span style="display: none" class="logo-text-icon">µ</span></a>
            </div>

            <div class="topbar-main"><a id="menu-toggle" href="#" class="hidden-xs"><i class="fa fa-bars"></i></a>
                
              
                <ul class="nav navbar navbar-top-links navbar-right mbn">
                    <li class="dropdown topbar-user"><a data-hover="dropdown" href="#" class="dropdown-toggle"><img src="{% static 'img//avatar/48.jpg' %}" alt="" class="img-responsive img-circle"/>&nbsp;<span class="hidden-xs">Usuario</span>&nbsp;<span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-user pull-right">
                     
                            <li><a href="{% url 'Login.html"><i class="fa fa-key"></i>Cerrar Sesion</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        </div>
        <!--END TOPBAR-->
      <div id="wrapper">
            <!--BEGIN SIDEBAR MENU-->
            <nav id="sidebar" role="navigation" data-step="2" data-intro="Template has &lt;b&gt;many navigation styles&lt;/b&gt;"
                data-position="right" class="navbar-default navbar-static-side">
            <div class="sidebar-collapse menu-scroll">
                <ul id="side-menu" class="nav">
                    
                     <div class="clearfix"></div>
                    <li {% if request.path == "/" %}class="active"{% endif %}><a href="{% url 'inicio' %}"><i class="fa fa-book fa-fw">
                        <div class="icon-bg bg-orange"></div>
                    </i><span class="menu-title">Inicio</span></a></li>

                    <li {% if request.path == "/calendario/" %}class="active"{% endif %}><a href="{% url 'calendario' %}"><i class="fa fa-calendar fa-fw">
                        <div class="icon-bg bg-pink"></div>
                    </i><span class="menu-title">Calendario</span></a>
                       
                    </li>
                     <li {% if request.path == "/citaciones/" %}class="active"{% endif %}><a href="{% url 'citaciones' %}"><i class="fa fa-file-o fa-fw">
                        <div class="icon-bg bg-green"></div>
                    </i><span class="menu-title">Citaciones</span></a>
                       
                    </li>
                    <li {% if request.path == "/boletines/" %}class="active"{% endif %}><a href="{% url 'boletines' %}"><i class="fa fa-edit fa-fw">
                        <div class="icon-bg bg-violet"></div>
                    </i><span class="menu-title">Boletines</span></a>
                      
                    </li >
                    <li {% if request.path == "/reportes/" %}class="active"{% endif %}><a href="{% url 'reportes' %}"><i class="fa fa-list-alt fa-fw">
                        <div class="icon-bg bg-blue"></div>
                    </i><span class="menu-title">Reporte</span></a>
                          
                    </li>
                    
                </ul>
            </div>
        </nav>

        
            <!--END CHAT FORM-->
            {% block content %}{% endblock content %}
            <!--BEGIN FOOTER-->
                <div id="footer">
                    <div class="copyright">
                        2016 © Simonet. Todos los derechos reservados</a></div>
                </div>
                <!--END FOOTER-->
            </div>
            <!--END PAGE WRAPPER-->
        </div>
    </div>
    <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-hover-dropdown.js' %}"></script>
    <script src="{% static 'js/html5shiv.js' %}"></script>
    <script src="{% static 'js/respond.min.js' %}"></script>
    <script src="{% static 'js/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'js/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/icheck.min.js' %}"></script>
    <script src="{% static 'js/custom.min.js' %}"></script>
    <script src="{% static 'js/jquery.news-ticker.js' %}"></script>
    <script src="{% static 'js/jquery.menu.js' %}"></script>
    <script src="{% static 'js/pace.min.js' %}"></script>
    <script src="{% static 'js/holder.js' %}"></script>
    <script src="{% static 'js/responsive-tabs.js' %}"></script>
    <script src="{% static 'js/jquery.flot.js' %}"></script>
    <script src="{% static 'js/jquery.flot.categories.js' %}"></script>
    <script src="{% static 'js/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'js/jquery.flot.tooltip.js' %}"></script>
    <script src="{% static 'js/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'js/jquery.flot.fillbetween.js' %}"></script>
    <script src="{% static 'js/jquery.flot.stack.js' %}"></script>
    <script src="{% static 'js/jquery.flot.spline.js' %}"></script>
    <script src="{% static 'js/zabuto_calendar.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <!--LOADING SCRIPTS FOR CHARTS-->
    <script src="{% static 'js/highcharts.js' %}"></script>
    <script src="{% static 'js/data.js' %}"></script>
    <script src="{% static 'js/drilldown.js' %}"></script>
    <script src="{% static 'js/exporting.js' %}"></script>
    <script src="{% static 'js/highcharts-more.js' %}"></script>
    <script src="{% static 'js/charts-highchart-pie.js' %}"></script>
    <script src="{% static 'js/charts-highchart-more.js' %}"></script>
    <!--CORE JAVASCRIPT-->
    <script src="{% static 'js/main.js' %}"></script>
    <script>        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-145464-12', 'auto');
        ga('send', 'pageview');


</script>

{% block js %}{% endblock js %}
</body>
</html>
<