{% extends 'base.html' %}
{% load staticfiles %}
            
            {% block titulo %}Boletines{% endblock titulo %}
            {% block content %}
            <!--BEGIN PAGE WRAPPER-->
            <div id="page-wrapper">
                <!--BEGIN TITLE & BREADCRUMB PAGE-->
                <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                    <div class="page-header pull-left">
                        <div class="page-title">
                           Boletines</div>
                    </div>
                 
                    <div class="clearfix">
                    </div>
                </div>
                <!--END TITLE & BREADCRUMB PAGE-->
                <!--BEGIN CONTENT-->
                <div class="page-content">

                <div class="alert alert-warning alert-dismissable">
                                            <button type="button" data-dismiss="alert" aria-hidden="true" class="close">&times;</button>
                                            <strong>Atencion!</strong> La Carga de Boletines aun no se ha realizado.
                                        </div>
                    
                   <div class="col-lg-12">
                        <div class="panel panel-blue" style="background:#FFF;">
                            <div class="panel-heading">Boletines</div>
                            <div class="panel-body">
                                <table class="table table-hover table-bordered table-condensed">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th>Edad</th>
                                        <th>Curso</th>
                                        <th>Materia 1</th>
                                        <th>Materia 2</th>
                                        <th>Materia 3</th>
                                        <th>Materia 4</th>
                                        <th>Materia 5</th>
                                        <th>Materia 6</th>
                                        <th>Aprobado</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Henry</td>
                                        <td>Fonseca</td>
                                        <td>23</td>
                                        <td>2A</td>
                                        <td>23</td>
                                        <td>23</td>
                                        <td>23</td>
                                        <td>23</td>
                                        <td>23</td>
                                        <td>23</td>
                                        <td><span class="label label-sm label-success">Approved</span></td>
                                    </tr>
                                     <tr>
                                        <td>1</td>
                                        <td>Henry</td>
                                        <td>Fonseca</td>
                                        <td>23</td>
                                        <td>2A</td>
                                        <td>23</td>
                                        <td>23</td>
                                        <td>23</td>
                                        <td>23</td>
                                        <td>23</td>
                                        <td>23</td>
                                        <td><span class="label label-sm label-warning">Suspended</span></td>
                                    </tr>
                                    </tbody>

                                </table>
                            </div>

                    </div>
                     <div class="row">
                                    <div class="col-lg-12"><h4 class="box-heading">Observaciones</h4>

                                        <div class="well well-lg"></div>
                                    </div>
                                   
                                </div>
                        </div>
                   </div>
                   
                </div>
                <!--END CONTENT-->
                {% endblock content  %}
                