{% extends 'base.html' %}
{% load staticfiles %}

{% block titulo %}Boletines{% endblock titulo %}
{% block content %}
<!--BEGIN PAGE WRAPPER-->
<div id="page-wrapper">
    <!--BEGIN TITLE & BREADCRUMB PAGE-->
    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">
                Boletines</div>
            </div>

            <div class="clearfix">
            </div>
        </div>

        <!--END TITLE & BREADCRUMB PAGE-->
        <!--BEGIN CONTENT-->
        <div class="page-content">

            {% if object_list %}

            <div class="col-lg-12">
                <div class="panel panel-blue" style="background:#FFF;">
                    <div class="panel-heading">Boletines</div>
                    <div class="panel-body table-responsive">
                        <table id="boletin" class="table table-hover table-bordered table-condensed">
                            <thead>
                                <select  id="selectAlum" style="width:100px">
                                    {% for alumno in object_list %}
                                    <option value="{{alumno.id}}alumno">{{alumno.nombre}}</option>

                                    {% endfor %}
                                </select>
                                <p style=" margin-botton: 50px"></p>
                                <tr>

                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Edad</th>
                                    <th>Sexo</th>
                                    <th>Curso</th>
                                    <th>Lapso</th>
                                    <th>Proyecto de Lapso</th>
                                    <th>Calificación</th>
                                    <th>Resultados del Apredizaje</th>
                                    <th>Conclusion</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for alumno in object_list %}
                                <div >

                                    {% for lapso in alumno.lapso_set.all|dictsortreversed:"lapso" %}

                                    <tr class="lapsos {{alumno.id}}alumno">
                                        <div id="{{lapso.id}}info" class="modal fade">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" data-dismiss="modal" aria-hidden="true" class="close">
                                                            &times;</button>
                                                            <h4 class="modal-title">
                                                                Análisis</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p>
                                                                    {{lapso.analisis}}</p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" data-dismiss="modal" class="btn btn-default">
                                                                        Close</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="{{lapso.id}}conclu" class="modal fade">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <button type="button" data-dismiss="modal" aria-hidden="true" class="close">
                                                                            &times;</button>
                                                                            <h4 class="modal-title">
                                                                                Resultados de Aprendizaje</h4>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <p>
                                                                                    {{lapso.conclusion}}</p>
                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <button type="button" data-dismiss="modal" class="btn btn-default">
                                                                                        Close</button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <td>{{alumno.nombre}}</td>
                                                                        <td>{{alumno.apellido}}</td>
                                                                        <td>{{alumno.edad}}</td>
                                                                        <td>  {{alumno.sexo}} </td>
                                                                        <td>{{alumno.curso.get_curso}}</td>
                                                                        <td>{{lapso.get_lapso_display}}</td>
                                                                        <td>{{lapso.proyecto}}</td>
                                                                        <td>{% if lapso.calificacion %}{{lapso.calificacion}}{% endif %}</td>

                                                                        <td style="text-align:center">

                                                                            <div class="tools">
                                                                                <button data-toggle="modal" data-target="#{{lapso.id}}info">Análisis
                                                                                    <i class="fa fa-chevron-down"></i>
                                                                                </button>
                                                                            </div>
                                                                        </td>
                                                                        <td style="text-align:center">  
                                                                            {% if lapso.conclusion %}
                                                                            <button data-toggle="modal" data-target="#{{lapso.id}}conclu">Conclusión
                                                                                <i class="fa fa-chevron-down"></i>
                                                                            </button>
                                                                            {% endif %}
                                                                        </td>
                                                                    </tr>


                                                                    {% endfor %}
                                                                </div>
                                                                {% endfor %}

                                                            </tbody>

                                                        </table>



                                                        {% else %}
                                                        <div class="alert alert-warning alert-dismissable">
                                                            <button type="button" data-dismiss="alert" aria-hidden="true" class="close">&times;</button>
                                                            <strong>Atencion!</strong> La Carga de Boletines aun no se ha realizado.
                                                        </div>
                                                        {% endif %}

                                                    </div>
                                                </div>

                                            </div>
                                            <!--END CONTENT-->
                                            {% endblock content  %}

                                            {% block js %}
                                            <script type="text/javascript">

                                                $('#selectAlum').on('change',function(){
                                                    
                                                    $(".lapsos").hide();
                                                    $("."+$("#selectAlum").val()).show().each(function(index){
                                                        $(this).show();
                                                    }); 
                                                    
                                                });
                                            </script>
                                            {% endblock js %}