{% extends 'base.html' %}
{% load staticfiles %}
            
            {% block titulo %}Boletines{% endblock titulo %}
            {% block content %}
            <!--BEGIN PAGE WRAPPER-->
            <div id="page-wrapper">
                <!--BEGIN TITLE & BREADCRUMB PAGE-->
                <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                    <div class="page-header pull-left">
                        <div class="page-title">
                           Boletines</div>
                    </div>
                 
                    <div class="clearfix">
                    </div>
                </div>
                <!--END TITLE & BREADCRUMB PAGE-->
                <!--BEGIN CONTENT-->
                <div class="page-content">
                    
                            {% for alumno in object_list %}

                            <div><strong>{{alumno.get_full_name}}</strong></div>
                           
                                {% for lapso in alumno.lapso_set.all|dictsortreversed:"lapso" %}
                                <div class="row">
                                    <div class="col-md-8 panel-blue"><h4>Boletin</h2></div>
                                    <div class="col-md-4"><strong>Lapso: {{lapso.get_lapso_display}}</strong></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12"><strong>Curso:</strong> {{alumno.curso.get_curso}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12"><strong>Alumno:</strong> {{alumno.get_full_name}}</div>
                                </div>

                                {% if alumno.cedula %}
                                <div class="row">
                                    <div class="col-md-12"><strong>Cedula:</strong> {{alumno.cedula}}</div>
                                </div>
                                {% endif %}
                                <div class="row">
                                    <div class="col-md-4"><strong>Fecha de nacimiento:</strong> {{alumno.nacimiento|date:"d-m-y"}}</div>
                                    <div class="col-md-4"><strong>Edad:</strong> {{alumno.edad}}</div>
                                    <div class="col-md-4"><strong>sexo:</strong>{{alumno.sexo}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12"><strong>Proyecto del Lapso:</strong> {{lapso.proyecto}}</div>
                                   
                                </div>
                                <div class="row">
                                    <div class="col-md-12" style="text-align:center"><strong>Resultados del Aprendizaje</strong></div>
                                   
                                </div>
                                <div class="row">
                                    <div class="col-md-12">{{lapso.analisis}}</div>
                                   
                                </div>
                                {% if lapso.calificacion %}
                                <div class="row">
                                    <div class="col-md-12"><strong>Calificación</strong> {{lapso.calificacion}}</div>
                                   
                                </div>
                                {% endif %}
                                {% if lapso.conclusion %}
                                <div class="row">
                                    <div class="col-md-12" style="text-align:center"><strong>Conclusión</strong></div>
                                   
                                </div>
                                <div class="row">
                                    <div class="col-md-12">{{lapso.conclusion}}</div>
                                   
                                </div>
                                {% endif %}
                                    {% endfor %}
                            {% endfor %}
                              
                   </div>
                   
                </div>
                <!--END CONTENT-->
                {% endblock content  %}
                