{% extends 'base.html' %}
{% load staticfiles %}
    
    {% block titulo %}Calendario{% endblock titulo %}


    {% block css %}

        
        <link rel='stylesheet' href="{% static 'fullcalendar/fullcalendar.css' %}"/>
    {% endblock css %}

            {% block content %}
            <!--BEGIN PAGE WRAPPER-->
            <div id="page-wrapper">
                <!--BEGIN TITLE & BREADCRUMB PAGE-->
                <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                    <div class="page-header pull-left">
                        <div class="page-title">
                           Calendario</div>
                    </div>
                 
                    <div class="clearfix">
                    </div>
                </div>
                <!--END TITLE & BREADCRUMB PAGE-->
                <!--BEGIN CONTENT-->
                <div class="page-content">

                    <div id='calendar'></div>
                   
                </div>
        
{% endblock content %}


    {% block js %}
    <!--LOADING SCRIPTS FOR CHARTS-->
    <script src="{% static 'js/main.js' %}"></script>

    <script>
    
     $(document).ready(function() {

        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

              // nombre del DIV es calendar

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,basicWeek,basicDay'
            },
            editable: false,
            events: [ 
                        {% for citacion in object_list %}
                           {
                                title: '{{citacion.motivo}}',
                                
                                start: new Date({{citacion.fecha|date:"Y"}}, {{citacion.fecha|date:"m"}}-1, {{citacion.fecha|date:"j"}}),
                                end: new Date({{citacion.fecha|date:"Y"}}, {{citacion.fecha|date:"m"}}-1, parseInt({{citacion.fecha|date:"j"}})),
                                url: '{% url "citacion" citacion.id %}',
                                allDay:true
                            }, 

                        {% endfor %}
                        {% for alumno in alumnos %}
                            {% for tarea in alumno.curso.tarea.all %}
                               {
                                    title: '{{tarea.tarea}}',
                                    
                                    start: new Date({{tarea.fecha|date:"Y"}}, {{tarea.fecha|date:"m"}}-1, {{tarea.fecha|date:"j"}}),
                                    end: new Date({{tarea.fecha|date:"Y"}}, {{tarea.fecha|date:"m"}}-1, parseInt({{tarea.fecha|date:"j"}})),
                                    url: '{% url "tarea" tarea.id %}',
                                    allDay:true
                                }, 

                            {% endfor %}
                        {% endfor %}
                /*
                {
                    title: 'All Day Event',
                    start: new Date(y, m, 1)
                },
                {
                    title: 'Long Event',
                    start: new Date(y, m, d-5),
                    end: new Date(y, m, d-2)
                },
                {
                    id: 999,
                    title: 'Repeating Event',
                    start: new Date(y, m, d-3, 16, 0),
                    allDay: false
                },
                {
                    id: 999,
                    title: 'Repeating Event',
                    start: new Date(y, m, d+4, 16, 0),
                    allDay: false
                },
                {
                    title: 'Meeting',
                    start: new Date(y, m, d, 10, 30),
                    allDay: false
                },
                {
                    title: 'Lunch',
                    start: new Date(y, m, d, 12, 0),
                    end: new Date(y, m, d, 14, 0),
                    allDay: false
                },
                {
                    title: 'Birthday Party',
                    start: new Date(y, m, d+1, 19, 0),
                    end: new Date(y, m, d+1, 22, 30),
                    allDay: false
                },
                */
                {
                    title: 'Click for Google',
                    start: new Date(2099, m, 28),
                    end: new Date(2099, m, 29),
                    url: 'http://google.com/'
                }
            ]
        });

    });
    </script>
    {% endblock js %}
</html>
