{% extends 'base.html' %}
{% load staticfiles %}

            {% block titulo %}Citaciones{% endblock titulo %}
        

            {% block content %}     
            <!--BEGIN PAGE WRAPPER-->
            <div id="page-wrapper">
                <!--BEGIN TITLE & BREADCRUMB PAGE-->
                <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                    <div class="page-header pull-left">
                        <div class="page-title">
                                Calendario</div>
                    </div>
                 
                    <div class="clearfix">
                    </div>
                </div>
                <!--END TITLE & BREADCRUMB PAGE-->
                <!--BEGIN CONTENT-->
                <div class="page-content">
                    
                   
                </div>
                <!--END CONTENT-->
                {% endblock content %}  