{% extends 'base.html' %}
{% load staticfiles %}

    {% block css %}
    
    <link href="styles/pnotify.custom.min.css" media="all" rel="stylesheet" type="text/css" />
        {% endblock css %}

            {% block titulo %}Citaciones{% endblock titulo %}
            {% block content %}
   <!--BEGIN PAGE WRAPPER-->
            <div id="page-wrapper">
                <!--BEGIN TITLE & BREADCRUMB PAGE-->
                <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                    <div class="page-header pull-left">
                        <div class="page-title">
                            Horarios</div>
                    </div>
                 
                    <div class="clearfix">
                    </div>
                </div>
                <!--END TITLE & BREADCRUMB PAGE-->
                <!--BEGIN CONTENT-->
                <div class="page-content">
                    {% for alumno in object_list %}
                   <div class="col-lg-12">
                        <div class="panel panel-blue" style="background:#FFF;">
                            <div class="panel-heading">{{alumno.get_full_name}}</div>
                            <div class="panel-body table-responsive">
                                <table class="table table-hover table-bordered table-condensed">
                                    <thead>
                                                            
                                    <p style=" margin-botton: 50px"></p>
                                    <tr>
                                       
                                        <th>Horario</th>
                                        <th>Lunes</th>
                                        <th>Martes</th>
                                        <th>Miercoles</th>
                                        <th>Jueves</th>
                                        <th>Viernes</th>
                                        
                                        
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for materia in alumno.curso.materia.all %}
                                    <tr>
                                            {% if materia.horario %}
                                                <td>{{materia.get_horario_display}}</td>

                                            {% else %}
                                                <td></td>
                                            {% endif %}

                                            {% if materia.lunes %}
                                                <td>{{materia.materia}}</td>

                                            {% else %}
                                                <td></td>
                                            {% endif %}

                                            {% if materia.martes %}
                                                <td>{{materia.materia}}</td>

                                            {% else %}
                                                <td></td>
                                            {% endif %}

                                            {% if materia.miercoles %}
                                                <td>{{materia.materia}}</td>

                                            {% else %}
                                                <td></td>
                                            {% endif %}

                                            {% if materia.jueves %}
                                                <td>{{materia.materia}}</td>

                                            {% else %}
                                                <td></td>
                                            {% endif %}

                                            {% if materia.viernes %}
                                                <td>{{materia.materia}}</td>

                                            {% else %}
                                                <td></td>
                                            {% endif %}
                                    </tr>
                                    {% endfor %}
                                    
                                    </tbody>

                                </table>
                            </div>

                    </div>
                   
                </div>
                {% endfor %}
                <!--END CONTENT-->
                <!--BEGIN FOOTER-->
                <div id="footer">
                    <div class="copyright">
                        <a href="http://Simonet.com.ve">2016 © Simonet. Todos los derechos reservados</a></div>
                </div>
                <!--END FOOTER-->
            </div>
                <!--END CONTENT-->
                {% endblock content %}
