{% extends 'base.html' %}
{% load staticfiles %}

            {% block titulo %}Reportes{% endblock titulo %}
            {% block content %}
            <!--BEGIN PAGE WRAPPER-->
            <div id="page-wrapper">
                <!--BEGIN TITLE & BREADCRUMB PAGE-->
                <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                    <div class="page-header pull-left">
                        <div class="page-title">
                           Reportes</div>
                    </div>
                 
                    <div class="clearfix">
                    </div>
                </div>
                <!--END TITLE & BREADCRUMB PAGE-->
                <!--BEGIN CONTENT-->
                <div class="page-content">
                {% for alumno in object_list %}
                   <div class="col-lg-12">
                        <div class="panel panel-blue" style="background:#FFF;">
                            <div class="panel-heading">Reporte {{alumno.get_full_name}}</div>HH
                        {% for reporte in alumno.reportes_set.all %}
                        <div id="{{reporte.id}}info" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">
                                        &times;</button>
                                    <h4 class="modal-title">
                                        Reporte Semanal</h4>
                                </div>
                                <div class="modal-body">
                                    <p>{{reporte.informacion}}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" data-dismiss="modal" class="btn btn-default">
                                        Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                        {{reporte.fecha|date:"d-m-y"}}
                            <div class="panel-body table-responsive">
                                <table class="table table-hover table-bordered table-condensed">
                                    <thead>
                                    <p style=" margin-botton: 50px"></p>
                                    <tr>
                                        <th>Lunes</th>
                                        <th>Martes</th>
                                        <th>Miercoles</th>
                                        <th>Jueves</th>
                                        <th>Viernes</th>
                                        <th>Reporte</th>
                                        
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr >
                                        {% if reporte.lunes %}
                                        <td><span class="label label-sm label-warning">No Asistio</span></td>
                                        {% else %}
                                        <td><span class="label label-sm label-success">Asistio</span></td>
                                        {% endif %}

                                        {% if reporte.martes %}
                                        <td><span class="label label-sm label-warning">No Asistio</span></td>
                                        {% else %}
                                        <td><span class="label label-sm label-success">Asistio</span></td>
                                        {% endif %}

                                        {% if reporte.miercoles %}
                                        <td><span class="label label-sm label-warning">No Asistio</span></td>
                                        {% else %}
                                        <td><span class="label label-sm label-success">Asistio</span></td>
                                        {% endif %}

                                        {% if reporte.jueves %}
                                        <td><span class="label label-sm label-warning">No Asistio</span></td>
                                        {% else %}
                                        <td><span class="label label-sm label-success">Asistio</span></td>
                                        {% endif %}

                                        {% if reporte.viernes %}
                                        <td><span class="label label-sm label-warning">No Asistio</span></td>
                                        {% else %}
                                        <td><span class="label label-sm label-success">Asistio</span></td>
                                        {% endif %}
                                
                                        <td >
                                        <div class="tools">
                                        <button data-toggle="modal" data-target="#{{reporte.id}}info">Información
                                                        <i class="fa fa-chevron-down"></i>
                                        </button>
                                        </div>
                                    </tr>
                                    </tbody>

                                </table>
                            </div>
                            {% endfor %}

                    </div>
                </div>
                {% endfor %}                   
                <!--END CONTENT-->
                {% endblock content %}