{% extends 'base.html' %}
{% load staticfiles %}

            {% block titulo %}Reportes{% endblock titulo %}
            {% block content %}
            <!--BEGIN PAGE WRAPPER-->
            <div id="page-wrapper">
                <!--BEGIN TITLE & BREADCRUMB PAGE-->
                <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                    <div class="page-header pull-left">
                        <div class="page-title">
                           Reportes</div>
                    </div>
                 
                    <div class="clearfix">
                    </div>
                </div>
                <!--END TITLE & BREADCRUMB PAGE-->
                <!--BEGIN CONTENT-->
                <div class="page-content">
                    
                   {% for object in object_list %}
                            <div>
                                <div id="descripcion">{{object.motivo}}</div>
                                <div id="fecha">{{object.fecha|date:"h:m d/m/y"}}</div>
                            </div>
                            
                        {% endfor %}
                </div>
                <!--END CONTENT-->
                {% endblock content %}