{% extends 'base.html' %}
{% load staticfiles %}

    {% block css %}
    
    <link href="styles/pnotify.custom.min.css" media="all" rel="stylesheet" type="text/css" />
        {% endblock css %}

            {% block titulo %}Tareas y Evaluaciones{% endblock titulo %}
            {% block content %}
   <!--BEGIN PAGE WRAPPER-->
            <div id="page-wrapper">
                <!--BEGIN TITLE & BREADCRUMB PAGE-->
                <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                    <div class="page-header pull-left">
                        <div class="page-title">
                            Horarios</div>
                    </div>
                 
                    <div class="clearfix">
                    </div>
                </div>
                <!--END TITLE & BREADCRUMB PAGE-->
                <!--BEGIN CONTENT-->
                <div class="page-content">
                   <div class="col-lg-12">
                        <div class="panel panel-blue" style="background:#FFF;">
                            <div class="panel-heading">{{object.get_tipo_display}}</div>
                        <div>
                            <div id="descripcion"><p style="font-size:20px;">{{object.materia.materia}}</p></div>
                            <div id="descripcion"><p style="font-size:18px;">{{object.tarea}}</p></div>
                            <div id="fecha"><p style="font-size:16px;">{{object.fecha|date:"h:m d/m/y"}}</p></div>
                        </div>
                    </div>
                   
                </div>
                <!--END CONTENT-->
                <!--BEGIN FOOTER-->
                <div id="footer">
                    <div class="copyright">
                        <a href="http://Simonet.com.ve">2016 © Simonet. Todos los derechos reservados</a></div>
                </div>
                <!--END FOOTER-->
            </div>
                <!--END CONTENT-->
                {% endblock content %}

                    
                            